<?xml version="1.0"?>
<!-- -->
<launch>

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>
  <arg name="pkg_path"                    default="$(find msp)"/>
  <arg name="lod_density"                   default="0.152"/> 
  <arg name="loa_accuracy"                  default="0.013"/> 

  <!-- base link to sensor/velodyne -->
  <arg name="sensorOffsetX"               default="0"/>
  <arg name="sensorOffsetY"               default="0"/>
  <arg name="sensorOffsetZ"               default="0"/>  <!-- 0.409 -->

  
  <include file="$(find msp_sim)/launch/system_indoor.launch">
  </include>
  
  <node pkg="nodelet" type="nodelet" name="FilteringMappingNodelet" args="load msp/FilteringMappingNodelet nodelet_manager" output="screen">
    <param name="raw_cloud_topic"          value="/registered_scan"/>
    <param name="pkg_path"                 value="$(arg pkg_path)"/>
    <param name="lod_density"              value="$(arg lod_density)"/>
    <param name="loa_accuracy"             value="$(arg loa_accuracy)"/>
  </node>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="map" />
    <param name="source_frame_name" type="string" value="sensor" />
    <param name="trajectory_update_rate" type="double" value="10.0" />
    <param name="trajectory_publish_rate" type="double" value="10.0" />
  </node>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_run" args="-d $(find msp)/rviz/run.rviz" respawn="false" /> 

</launch>