# Params.cfg
PACKAGE = "msp"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#bool_t, int_t, double_t, str_t
# gen.add("max_incidence_angle_by_loa", double_t, 0, "This is max_incidence_angle_by_loa", 60, 0, 90)
# gen.add("max_range_by_loa", double_t, 0, "This is max_range_by_loa", 20, 0, 100.0)
# gen.add("normal_ksearch", int_t, 0, "This is normal_ksearch", 30, 2, 100)

# lod_enum  = gen.enum([ gen.const("level1",  int_t, 0, "0.152"),
#                          gen.const("level2", int_t, 1, "0.025"),
#                          gen.const("level3",  int_t, 2, "0.013"),
#                          gen.const("level4",  int_t, 3, "0.013")],
#                          "This is LoD Density")
# gen.add("lod_density_mode", int_t, 1, "This is LoD Density", 1, 0, 3, edit_method=lod_enum )
gen.add("lod_density_value",  double_t, 0, "Selected LoD density (m)", 0.025, 0.0, 1.0)
gen.add("density_threshold",  double_t, 0, "density_threshold", 0.025, 0.0, 1.0)
gen.add("r1_thr", double_t, 0, "This is r1_thr", 0.99, 0.0, 1.0)
gen.add("r2_thr", double_t, 0, "This is r2_thr  ", 0.95, 0.0, 1.0)
gen.add("lod_factor_", double_t, 0, "This is lod_factor_  ", 0.9, 0.0, 1.0)
# gen.add("ideal_max_range_by_lod", double_t, 0, "This is ideal_max_range_by_lodl", 20, 0, 100.0)
# gen.add("leafSize", double_t, 0, "This is leafSize", 0.05, 0.001, 100)

exit(gen.generate(PACKAGE, "msp", "param"))
