<?xml version="1.0"?>
<!-- -->
<launch>

  <param name="/use_sim_time"             value="true" />
  <arg name="gazebo_gui"                  default="true"/>

  <arg name="world_name"                       default="$(find vehicle_simulator)/world/indoor.world"/>

  <!-- slam -->
  <arg name="raw_cloud_topic"             default="/livox/lidar"/> 
  <arg name="robotName"                   default="husky"/> 
  <!-- base link to sensor/velodyne -->
  <arg name="sensorOffsetX"               default="0.081"/>
  <arg name="sensorOffsetY"               default="0"/>
  <arg name="sensorOffsetZ"               default="0"/> 
  <!-- 0.409 -->

  <!-- localization -->
  <!-- <node pkg="msp_sim" type="localization_sim" name="localization_sim_node" output="screen">
    <param name="laserCloudTopic"           value="$(arg raw_cloud_topic)"/>
    <param name="robotName"                 value="$(arg robotName)"/>
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="mappingPublisher"  args="0 0 0 0 0 0 map odom"/> -->

  <!-- Husky robot -->
  <include file="$(find msp_sim)/launch/spawn_husky.launch">
    <arg name="mid360_enabled"          default="1"/>
    <arg name="mid360_topic"            default="$(arg raw_cloud_topic)"/>
    <arg name="mid360_frequency"        default="5" />
    <arg name="mid360_samples"          default="20000" />
  </include>

  <!-- gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused"            default="false"/>
    <arg name="use_sim_time"      default="true"/>
    <arg name="gui"               default="$(arg gazebo_gui)"/>
    <arg name="headless"          default="false"/>
    <arg name="debug"             default="false"/>
    <arg name="verbose"           default="false"/>
    <!-- <arg name="world_name"        default="$(arg world_name)"/> -->
  </include>

  



  
  <!-- <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_run" args="-d $(find msp)/rviz/run.rviz" respawn="true" />  -->

  <!-- <include file="$(find visualization_tools)/launch/visualization_tools.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
  </include> -->
  <!-- <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/> -->

</launch>